/* / <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.banner-container{
    width: 1440px;
height: 652px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
background-image: url('../images/Hero-bg.png');
background-repeat: no-repeat;
justify-content: center;
}

.image-center{
    display: flex;
    justify-content: center;

   
}
.in-the{
    display: flex;
    justify-content: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

.web-development{
    display: flex;
    justify-content: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}


.btn{
    display: flex;
    justify-content: center;


}

.baton{
    /* Frame 2 */
position: static;
width: 208px;
height: 66px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
background-color: rgb(13, 19, 33);
color: aliceblue;
border-radius: 8px;
}

/* sec-main-title */
.sec-main-title{
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 1395px;
    margin: 0px auto;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin-top: 74px;
    border: 2px solid black;
    text-align: center;
}
/* 
development-title
 */


.my-title h1{
  
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.my-title p{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

/* web-container */
.leftside-content{
    width: 50%;
}
